header {
    display: flex;
    padding: 18px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: turquoise;
    height: 80px;
    margin-right: 5px;
}

/*flex-grow*/

header div:nth-child(1) {
    flex-grow: 1;
}

header div:nth-child(2) {
    flex-grow: 2;
}

header div:nth-child(3) {
    flex-grow: 1;
}

section {
    display: flex;
    padding: 18px;
}

section div {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
}

section div:nth-child(1) {
    background-color: #cdffcd;
}

section div:nth-child(2) {
    background-color: #ffeea4;
}

section div:nth-child(3) {
    background-color: #ffdaaf;
}

footer {
    display: flex;
    padding: 18px;
}

footer div {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
}

footer div:nth-child(1) {
    background-color: #cdffcd;
}

footer div:nth-child(2) {
    background-color: #ffeea4;
    flex-shrink: 4;
}

footer div:nth-child(3) {
    background-color: #ffdaaf;
}

@media(min-width:320px) {
    section div:nth-of-type(2){
        background-color: #c4377d
}

@media(min-width:475px) {
    section div:nth-of-type(2){
        background-color: #9aec63
}

@media(min-width:768px) {
    section div:nth-of-type(2){
        background-color: #4597e4
}